@import url("https://fonts.cdnfonts.com/css/poppins");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #bb1616;
  --width: 1200px;
  --hover-header: #ffffff36;
}
body {
  background-color: #f1f1f1;
}
body > #go-top {
  position: fixed;
  right: 60px;
  bottom: 60px;
  cursor: pointer;
  padding: 15px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 28px;
  display: none;
}
header {
  background-color: var(--primary-color);
}
.inner__header {
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.inner__header-logo {
  width: 100px;
  flex-shrink: 0;
}
.inner__header-logo > img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.inner__header-search {
  width: 570px;
  height: 50%;
  background-color: #fff;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  flex-shrink: 0;
}
.inner__header-search > .inner__header-search-input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding: 0 50px 0 10px;
  font-size: 16px;
}
.inner__header-search > .inner__header-search-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  background-color: #333;
  color: white;
  cursor: pointer;
}
.inner__header-contact {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: bold;
}
.inner__header-contact-item {
  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.2s linear;
  padding: 5px 7px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s linear;
}
.inner__header-contact-item:hover {
  background-color: var(--hover-header);
}
.inner__header-contact-item > i {
  font-size: 24px;
}

.inner__header-search-detail {
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
}
.inner__header-search-detail > i {
  font-size: 32px;
}
.inner__header-search-detail > .amount {
  position: absolute;
  top: -7px;
  right: 0;
  padding: 0 3px;
  background-color: #fff;
  font-size: 14px;
  border-radius: 18px;
}

/* MAIN */
main {
  margin-top: 30px;
}
.banner {
  display: flex;
  overflow: hidden;
  width: var(--width);
  margin: 0 auto;
  position: relative;
}

.banner > img {
  width: 100%;
  object-fit: cover;
  transition: .5s linear;
}
.banner span i {
  font-size: 20px;
  padding: 18px 5px;
  background-color: #dddddd8e;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 9999;
}
.banner span:first-of-type i {
  left: 5px;
}
.banner span:not(:first-of-type) i {
  right: 5px;
}
.ordinal-number {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  background-color: #eee;
}
.dot:first-child {
  background-color: #111;
}
.manufacturer {
  width: var(--width);
  margin: 0 auto;
  background-color: #e0e0e0;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  border-radius: 10px;
  margin-top: 20px;
}
.manufacturer__item {
  height: 35px;
  width: 120px;
  background-color: #fff;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  cursor: pointer;
}
.manufacturer__item:hover {
  border: 2px solid lightskyblue;
}
.manufacturer .manufacturer__item:first-child img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.manufacturer .manufacturer__item img {
  width: 60%;
  object-fit: cover;
}

.menu {
  width: var(--width);
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu .menu__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.menu .menu__item i {
  font-size: 28px;
  padding: 20px;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.1s linear;
}
.menu .menu__item i:hover {
  background-color: #ffe500;
}

.hot-deal {
  width: var(--width);
  margin: 0 auto;
  margin-top: 50px;
  background-color: var(--primary-color);
  padding: 0 10px 50px;
}
/* .hot-deal  */
.hot-deal__banner img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.hot-deal__product {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.hot-deal__product-item {
  /* width: 250px; */
  width: 25%;
  height: 560px;
  background-color: #fff;
  padding: 20px 10px;
  position: relative;
  cursor: pointer;
}

#effect {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 0 5px;
  background-color: var(--primary-color);
  color: white;
  font-size: 12px;
  border-radius: 5px;
}
.hot-deal__product-item-image {
  height: 160px;
  margin-top: 15px;
}
.hot-deal__product-item-image img {
  width: 100%;
  transition: all 0.2s linear;
}
.hot-deal__product-item:hover .hot-deal__product-item-image img {
  transform: translateY(-10px);
}
.hot-deal__product-item-name {
  text-transform: uppercase;
  font-size: 16px;
  margin: 15px 0 5px;
  transition: all 0.2s linear;
  flex: 1;
}
.hot-deal__product-item:hover .hot-deal__product-item-name {
  color: var(--primary-color);
}
.hot-deal__product-item-ram-rom span {
  display: inline-block;
  padding: 4px;
  border: 1px solid lightgrey;
  font-size: 13px;
  border-radius: 5px;
}
.hot-deal__product-item-original-price {
  font-size: 12px;
  margin-top: 10px;
}
.hot-deal__product-item-sale-price {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
}
.hot-deal__product-item-gift {
  font-size: 12px;
  margin-bottom: 8px;
}
.hot-deal__product-item-infor {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 12px;
}
.show-more {
  text-transform: uppercase;
  padding: 7px 90px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 7px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  transition: .1s linear;
}
.show-more:hover {
  background-color: #fec200;
}
.hot-deal .show-more i {
  font-size: 20px;
}
.information {
  width: var(--width);
  margin: 0 auto;
  margin-top: 30px;
}
.information__wrapper {
  display: flex;
  justify-content: space-between;
}
.information__wrapper-item {
  cursor: pointer;
}

/* LAPTOP CATEGORY */
.laptop__category {
  width: var(--width);
  margin: 0 auto;
}
.advise {
  width: var(--width);
  margin: 0 auto;
  margin-top: 30px;
  background-color: #fff;
  padding: 30px 80px 50px;
  position: relative;
  height: 1030px;
  overflow: hidden;
  transition: all .2s;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(68, 68, 68, 0.486);
}
.toggle-height {
  height: unset;
}
.img img{
  width: 100%;
  margin-bottom: 15px;
}
.advise__title {
  font-size: 18px;
}
.advise__title, .advise h1 {
  margin-bottom: 20px;
}
.advise h2 {
  margin-bottom: 15px;
}
.advise h1 {
  font-size: 26px;
  text-transform: uppercase;
}
.advise p {
  margin-bottom: 22px;
}
.advise li{
  margin-bottom: 15px; 
  margin-top: 7px; 
}
.advise > #show-advise, .advise > #hide-advise {
  padding: 7px 18px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #999;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #eee;
  cursor: pointer;
  transition: all .2s linear;
}

.toggle-advise {
  display: none;
}
.advise > #show-advise:hover, .advise > #hide-advise:hover{
  background-color: #ccc;
}
.question-news {
  width: var(--width);
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  gap: 10px;
}
.question {
  width: 65%;
  background-color: white;
  padding: 30px 15px;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(68, 68, 68, 0.486);
  flex-shrink: 0;
}
.question h1 {
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-color);
  font-size: 26px;
}
.question ul {
  list-style-type: none;
}
.question ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #f1f1f1;
  font-weight: bold;
  cursor: pointer;
  transition: all .2s linear;
  margin-top: 15px;
  border-radius: 7px;
}
.question ul li:hover {
  background-color: #f3bbbb;
}
.news {
  padding: 20px 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(68, 68, 68, 0.486);
}
.news .title {
  font-size: 20px;
}
.news__item {
  margin-top: 20px;
}
.news__item-detail {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
  margin-top: 15px;
}

.news__item-detail-image img {
  border-radius: 10px;
  width: 100px;
  height: 64px;
} 
.news__item-detail-content a {
  text-decoration: none;
  font-size: 16px;
  color: #111;
  display: block;
}
.news__item-detail-content a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
/* FOOTER */
.top__footer {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  font-size: 14px;
  position: relative;
  background-color: #fff;
}
.top__footer::before {
  content: "";
  height: 3px;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.top__footer-detail {
  flex-shrink: 0;
}
.top__footer-title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
}
.top__footer-content > p {
  cursor: pointer;
  margin-bottom: 20px;
}
.top__footer-content > p:hover {
  color: var(--primary-color);
}
.top__footer-content-item {
  margin-bottom: 20px;
}
.top__footer-content-item > a {
  text-decoration: none;
  color: var(--primary-color)
}
.top__footer-contact {
  margin-bottom: 20px;  
}
.top__footer-contact > h4{
  font-weight: normal;
  font-size: 18px;
}
.top__footer-contact > p{
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-color);
  cursor: pointer;
}
.top__footer-detail-image {
  margin-bottom: 15px;
}
.top__footer-detail-image:hover {
  cursor: pointer;
}
.top__footer-detail-image > p {
  margin-bottom: 10px;
  font-size: 16px;
}
.bottom__footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 30px 100px;
}
.bottom__footer-detail > h4 {
  text-transform: uppercase;
  font-size: 18px;
}
.bottom__footer-detail > p {
  margin-bottom: 7px;
}
.bottom__footer-detail-item {
  margin-bottom: 10px;
  flex-shrink: 0;
}
.bottom__footer-detail-item > h5 {
  font-size: 18px;
}
.bottom__footer-detail-item > p {
  font-size: 14px;
}